<div class="d-flex justify-content-center align-items-start">
    <p><i class="fas fa-bolt h4"></i></p>
    <p class="mx-2">Electric Facility</p>
</div>
<div class="d-flex">
    <div class="input-group mb-3 d-flex justify-content-start">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="spark_true" name="current" checked>
            </div>
        </div>
        <label for="spark_true" class="input-group-text bg-success text-white">Yes</label>
    </div>
    <div class="input-group mb-3 d-flex justify-content-end">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="spark_false" name="current">
            </div>
        </div>
        <label class="input-group-text bg-danger text-white" for="spark_false">No</label>
    </div>
</div>
