<p class="text-center"><i class="fas fa-tower-cell"></i> Mobile network signals</p>

<!-- Good -->
<div class="d-flex flex-nowrap justify-content-center align-items-center">
    <div class="input-group d-flex justify-content-start">
        <div class="input-group-prepend ">
            <div class="input-group-text">
                <input type="radio" id="good" name="net" checked>
            </div>
        </div>
        <label class="input-group-text bg-success text-white" for="good">Good</label>
    </div>

    <!-- Average -->
    <div class="input-group d-flex justify-content-center">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="average" name="net">
            </div>
        </div>
        <label class="input-group-text bg-warning text-white" for="average">Average</label>
    </div>

    <!-- Bad -->
    <div class="input-group d-flex justify-content-end">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="bad" name="net">
            </div>
        </div>
        <label class="input-group-text bg-danger text-white" for="bad">Bad</label>
    </div>

</div>