<p class="text-center"><i class="fa-solid fa-signal"></i> Mobile network signals</p>

<!-- Good -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="good" name="net">
        </div>
    </div>
    <label class="input-group-text" for="good">Good</label>
</div>

<!-- Bad -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="bad" name="net">
        </div>
    </div>
    <label class="input-group-text" for="bad">Bad</label>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="average" name="net">
        </div>
    </div>
    <label class="input-group-text" for="average">Average</label>
</div>