<!-- <app-population></app-population>
<app-houses></app-houses>
<app-mobile-network></app-mobile-network> -->
<div class="Main card">
    <h2 class="text-center">Agent analysis form</h2>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="grid">
            <div>
                <app-population></app-population>
            </div>
            <div>
                <app-houses></app-houses>
            </div>
            <div>
                <app-mobile-network></app-mobile-network>
            </div>
            <div>Item 4</div>
            <div>Item 5</div>
            <div>Item 6</div>
            <div>Item 7</div>
            <div>Item 8</div>
            <div>Item 9</div>
        </div>
    </div>
</div>