<div class="Main ">
    <h2 class="text-center">Agent analysis form</h2>
    <div class="screen d-flex container">
        <div class="grid">
            <div>
                <app-population></app-population>
            </div>
            <div>
                <app-houses></app-houses>
            </div>
            <div>
                <app-mobile-network></app-mobile-network>
            </div>
            <div>
                <app-litracy-rate></app-litracy-rate>
            </div>
            <div>
                <app-medical-support></app-medical-support>
            </div>
            <div>
                <app-economy></app-economy>
            </div>
            <div>
                <app-sanitation></app-sanitation>
            </div>
            <div>
                <app-water-quality></app-water-quality>
            </div>
            <div>
                <app-electric-trasport></app-electric-trasport>
            </div>
            <div>
                <app-electric></app-electric>
            </div>
        </div>
    </div>
</div>