<div class="d-flex justify-content-center align-items-start">
    <p><i class="fas fa-bus h4"></i></p>
    <p class="mx-2">Transport Facility</p>

</div>
<div class="d-flex">
    <div class="input-group mb-3 d-flex justify-content-start">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="true" name="trans" checked>
            </div>
        </div>
        <label for="true" class="input-group-text bg-success text-white">Yes</label>
    </div>
    <div class="input-group mb-3 d-flex justify-content-end">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" id="false" name="trans">
            </div>
        </div>
        <label class="input-group-text bg-danger text-white" for="false">No</label>
    </div>
</div>