<div class="input-group m-2">
    <span for="population" class="input-group-text bg-success">Landarea</span>
    <input type="number" id="area" name="area" class="form-control" placeholder="0.00">
    <span for="population" class="input-group-text bg-success">Km<sup>2</sup></span>
</div>

<div class="input-group m-2">
    <span class="input-group-text bg-success">Population</span>
    <input type="number" id="population" name="population" class="form-control" placeholder="0.00">
    <span for="population" class="input-group-text bg-success">Km<sup>2</sup></span>
</div>


<div class="input-group m-2">
    <span class="input-group-text bg-success">Children (00-14 years)</span>
    <input type="number" id="Children" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-success">K</span>
</div>


<div class="input-group m-2">
    <span class="input-group-text bg-success">Youth (15-24 years)</span>
    <input id="Youth" type="number" name="Youth" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-success">K</span>

</div>


<div class="input-group m-2">
    <span class="input-group-text bg-success">Adults (25-64 years)</span>
    <input type="number" id="Adults" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-success">K</span>

</div>


<div class="input-group m-2">
    <span class="input-group-text bg-success">Seniors (65 years and over)</span>
    <input type="number" id="Seniors" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-success">K</span>

</div>