<div class="d-flex justify-content-center align-items-start">
    <p><i class="fas fa-globe-americas rotating h4"></i></p>
    <p class="mx-2">Landarea and population</p>

</div>
<div class="input-group m-2">
    <span for="population" class="input-group-text bg-primary w-custom">Landarea</span>
    <input type="number" id="area" name="area" class="form-control" placeholder="0.00">
    <span for="population" class="input-group-text bg-primary">Km<sup>2</sup></span>
</div>

<div class="input-group m-2">
    <span class="input-group-text w-custom bg-primary">Population</span>
    <input type="number" id="population" name="population" class="form-control" placeholder="0.00">
    <span for="population" class="input-group-text bg-primary">Km<sup>2</sup></span>
</div>


<div class="input-group m-2">
    <span class="input-group-text w-custom bg-primary">Children (00-14 years)</span>
    <input type="number" id="Children" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-primary">K</span>
</div>


<div class="input-group m-2">
    <span class="input-group-text w-custom bg-primary">Youth (15-24 years)</span>
    <input id="Youth" type="number" name="Youth" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-primary">K</span>

</div>


<div class="input-group m-2">
    <span class="input-group-text w-custom bg-primary">Adults (25-64 years)</span>
    <input type="number" id="Adults" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-primary">K</span>

</div>


<div class="input-group m-2">
    <span class="input-group-text w-custom bg-primary">Seniors (above )</span>
    <input type="number" id="Seniors" class="form-control" placeholder="0">
    <span for="population" class="input-group-text bg-primary">K</span>

</div>