<div class="input-group m-2">
    <div class="input-group-prepend">
        <span for="population" class="input-group-text">Landarea</span>
    </div>
    <input type="number" id="area" name="area" class="form-control" value="0.00">
</div>

<div class="input-group m-2">
    <div class="input-group-prepend">
        <span class="input-group-text">Population</span>
    </div>
    <input type="number" id="population" name="population" class="form-control w-50" value="0.00">
</div>


<div class="input-group m-2">
    <div class="input-group-prepend">
        <span class="input-group-text">Under Twenty</span>
    </div>
    <input type="number" id="teens" class="form-control" value="0">

</div>


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Under fifty and above twenty</span>
    </div>
    <input id="working" type="number" name="workingage" class="form-control" value="0">
</div>


<label for="oldage">above fifty</label>
<input type="number" id="oldage" class="form-control" value="0">